$main-color: #5a7df8;
$text_color: #ffff;
$accent_color: #333333;
$gilroy_light: "GilroyLight";
$gilroy_extra_bold: "GilroyExtraBold";
$montserrat_alternates_bold: "MontserratAlternates-ExtraBold";

$btn_color_default: #fff;
$btn_color_outline: #5a7df8;
