.header {
    padding-top: 30px;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        // display: grid;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: 60px;
        // column-gap: 15px;
        // align-items: center;
        // list-style-type: none;
    }
    &__item {
        &-phone {
            display: flex;
            align-items: center;
            // display: grid;
            // grid-template-columns: 20px 133px;
            // column-gap: 10px;
            // justify-self: end;
        }
    }
    &__link {
        font-size: 16px;
        line-height: 20px;
        color: $accent_color;
        text-decoration: none;
        &-logo {
            width: 60px;
            justify-self: start;
            img {
                width: 100%;
            }
        }
        &-icon {
            width: 20px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        &-number {
            font-size: 16px;
            line-height: 18px;
            color: $accent_color;
        }
    }
}