.promo {
    min-height: 885px;
    &__wrapper {
        padding-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 540px;
        column-gap: 121px;
    }
    &__descr {
        align-self: center;
        .text {
            margin-top: 30px;
        }
    }
    &__button {
        margin-top: 30px;
        width: 326px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    &__img {
        width: 500px;
        img {
            width: 100%;   /* надо или нет? */
        }
    }
    &__rectangle {
        min-height: 180px;
        margin-top: 30px;
        padding: 35px 0 25px 0;
        background: $main-color; 
    }
    &__title_fz24 {
        color: $color_1;
    }
    &__list {
        padding-top: 15px;
        display: grid;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: 75px;
        column-gap: 45px;
    }
    &__item {
        display: grid;
        grid-template-columns: 70px 170px;
        column-gap: 15px;
    }
    &__icon {
        width: 70px;
        img {
            width: 100%;
        }
    }

}



