.promo {
    // min-height: 885px;
    &__wrapper {
        padding-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 540px;
        column-gap: 121px;
    }
    &__descr {
        align-self: center;
        .text {
            margin-top: 30px;
        }
    }
    &__button {
        margin-top: 30px;
        width: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    &__img {
        width: 500px;
        img {
            width: 100%;   /* надо или нет? */
        }
    }
}



