.rectangle {
    min-height: 180px;
    margin-top: 30px;
    padding: 35px 0 25px 0;
    background-color: $main-color;
    &__title_fz24 {
        color: $accent_color;
    }
    &__list {
        padding-top: 15px;
        display: grid;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: 75px;
        column-gap: 45px;
    }
    &__item {
        display: grid;
        grid-template-columns: 70px 170px;
        column-gap: 15px;
    }
    &__icon {
        width: 70px;
        img {
            width: 100%;
        }
    }
}