.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 42px;
    line-height: 51px;
    font-weight: 800;
    color: $accent_color;
    span {
        color: $main-color;
    }
    &_fz18 {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 0.5);
        &_light {
            color: $accent_color;
        }

    }
    &_fz24 {
        font-size: 24px;
        line-height: 29px;
        &_light {
            color: $text_color;
            text-align: center;
        }
    }
}
