.usage {
    margin-top: 100px;
    &__title {
        padding-top: 10px;
    }
    &-list{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 328px 468px 304px;
        grid-template-rows: 175px;
        column-gap: 20px;
        &__item {
            display: grid;
            grid-template-columns: 50px 50px;
            grid-template-rows: 50px 18px;
            column-gap: 20px;
            row-gap: 10px;
            border: 2px solid $main-color;
            border-radius: 10px;
            margin-left: 55px;
        }
        &__img {
            width: 115px;
            img {
                width: 100%;
                margin: 45px 45px 45px -55px;
            }  
        }
        &__title {
            padding: 35px 0 10px 30px;
            color: black;
            text-transform: capitalize;
        }
        &__order {
            padding: 10px 40px 0 100px;
        }
        &__icon {
            width: 50px;
        }
    }
    &__descr {
        padding-top: 30px;
    }
    &__block {
        display: grid;
        grid-template-columns: 110px 797px 153px;
        grid-template-rows: 110px;
        column-gap: 20px;
    }
    &__img {
        width: 110px;
        padding-left: 20px;
        align-self: center;
        img {
            width: 100%;
        }
    }
    &__about {
        align-self: center;
    }
    &__subtitle {
        font-family: $gilroy_extra_bold;
        margin-bottom: 10px;
    }
    &__btn {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
}